/bin
/obj
/.vs
/ProjektPO/bin
/ProjektPO/obj
/ProjektPO/.vs
*.exe
*.cache
*.pdb
*.suo
*.db
#Bin
/ProjektPO/bin/Debug/*.exe
/ProjektPO/bin/Debug/*.cache
/ProjektPO/bin/Debug/*.pdb
/ProjektPO/bin/Debug/*.suo
/ProjektPO/bin/Debug/*.db
#Obj
/ProjektPO/obj/Debug/*.exe
/ProjektPO/obj/Debug/*.cache
/ProjektPO/obj/Debug/*.pdb
/ProjektPO/obj/Debug/*.suo
/ProjektPO/obj/Debug/*.db
#.vs
/ProjektPO/.vs/Projekt/v16/*.suo
/ProjektPO/.vs/Projekt/**/*.suo
/ProjektPO/.vs/Projekt/v16/.suo
/ProjektPO/.vs/Projekt/**/.suo